<div class="cookie-bar cookie-bar--disabled">
	<p class="cookie-bar__note indent">{_design_2018.cookies.text}</p>
	<a href="{link Page:cookies}" class="cookie-bar__btn-more-info">{_design_2018.cookies.info}</a>
	<a href="#" class="cookie-bar__btn-ok">{_design_2018.cookies.btn}</a>
</div>
