<div class="footer__lead">
	<a href="{link Page:lead}" class="btn btn--bigger btn--color-text-1">
		<span>{_design_2018.footer.button}</span>
	</a>
	<p class="footer__lead-note color-text-1">
		{_design_2018.footer.note|noescape}
	</p>
</div>
	