<div class="footer__cs">
	<h2 class="footer__cs-title">
		{_design_2018.footer.case_study.title|noescape}
	</h2>
	<p class="footer__cs-note color-text-1">
		{_design_2018.footer.case_study.note|noescape}
	</p>
	<a href="{link Page:lead}" class="btn btn--bigger btn--color-text-1">
		<span>{_design_2018.footer.case_study.button}</span>
	</a>
</div>
	