<div class="obsah_forma__cs">
	<h2 class="obsah_forma__cs-title">
		<img src="{$basePath}/gfx/obsahforma/obsahforma-logo{if $locale == 'en'}-en{/if}.svg" alt="{_design_2018.content_form.title}" class="" style="width: 12vw;">
	</h2>
	<p class="obsah_forma__cs-note color-text-1">
		{_design_2018.footer.obsah_forma.note|noescape}
	</p>
	<a href="{link Page:obsahForma}" class="btn btn--bigger btn--color-text-2">
		<span>{_design_2018.footer.obsah_forma.button}</span>
	</a>
</div>
	