/__doc
/src/log/*
!/src/log/.gitignore
/src/temp/*
!/src/temp/sessions
/src/temp/sessions/*
!/src/temp/sessions/.gitignore
/src/vendor
/store
Thumbs.db

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml