<!DOCTYPE html>
<html lang="{$locale}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Grafické studio Protein. Bez designu umřeš. Vytváříme značky a jejich loga, weby, appky, obaly a prezentace.">
	<meta name="keywords" content="grafické studio, grafický design, tvorba, logo, logotyp, web, webové stránky, e-shop, e-commerce, obal, obaly, packaging, prezentace.">

	<link rel="stylesheet" href="{$basePath}/css/design-2018.css">
	
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#0b3c42">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#0b3c42">
	<meta name="msapplication-navbutton-color" content="#0b3c42">
	<meta name="apple-mobile-web-app-status-bar-style" content="#0b3c42">
	

	<title>Studio Protein{ifset title} | {include title|stripHtml}{/ifset}</title>

<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'd2543df1914a17485d728ecfda8e7afec819ed39');
</script>

</head>
<body class="page {ifset page_style} {include page_style}{else}page--default{/ifset}" >

	{include _partials/cookies.latte}
	{include _partials/header.latte}

	{include content}

	{ifset afterFooter}
		{include afterFooter}
	{/ifset}

	{block scripts}
		<script src="{$basePath}/js/jquery.min.js"></script>
		<script src="{$basePath}/js/plugins.js"></script>
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/design-2018.js"></script>
	{/block}


	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-8038272-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	</script>

	<script type="text/javascript">
		var leady_track_key="Omb6RhJa2YO54Ku4";
		var leady_track_server=document.location.protocol+"//t.leady.cz/";
		(function(){
			var l=document.createElement("script");l.type="text/javascript";l.async=true;
			l.src=leady_track_server+leady_track_key+"/L.js";
			var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(l,s);
		})();
	</script>

	<!-- Google Code for kontaktn&iacute; formul&aacute;&#345; Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 849056748;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "dvm5CNCI7XIQ7KfulAM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/849056748/?label=dvm5CNCI7XIQ7KfulAM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>


	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["trackPageView"]);
	  _paq.push(["enableLinkTracking"]);

	  (function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://ifirmy.cz/pxstats/";
		_paq.push(["setTrackerUrl", u+"piwik.php"]);
		_paq.push(["setSiteId", "2561"]);
		var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	  })();
	</script>


</body>
</html>
