@font-size-rem: 16px;
@font-line-height: 1.2;

@section-padding-left: 3.5vw;
@header-padding-right: 3.5vw;
@page-padding-bottom: 10rem;
//@puzzle-padding: 0.3125vw;
@puzzle-padding: 0.623vw;

@color-fe-1: #0b3c42;
@color-be-1: #ecf3f4;
// @color-be-1: #e9efef;
@color-fe-2: #5d5d5d;
@color-be-2: #cbcbcb;
@color-fe-content-form: #2a2a2a;
@color-be-content-form: #414141;
@color-lead: #0b3c41;

@color-fe-arcadehry: #ffffff;
@color-be-arcadehry: #140a3f;
@color-fe-destro: #35302d;
@color-be-destro: #fdca00;
@color-fe-drevosrot: #241a05;
@color-be-drevosrot: #f5ede4;
@color-fe-eyren: #fff5eb;
@color-be-eyren: #5e2d30;
@color-fe-fer: #61697e;
@color-be-fer: #ffffff;
@color-fe-haven: #381d44;
@color-be-haven: #f2eee0;
@color-fe-kkzpp: #b19869;
@color-be-kkzpp: #0f3520;
@color-fe-partner: #ffffff;
@color-be-partner: #3a2d27;
@color-fe-pht: #fffaf0;
@color-be-pht: #ff8a2a;
@color-fe-poldi: #ffffff;
@color-be-poldi: #134b8a;
@color-fe-stablo: #f74a69;
@color-be-stablo: #215884;
@color-fe-tack: #f20132;
@color-be-tack: #ecebe9;
@color-fe-tachtech: #000000;
@color-be-tachtech: #f1f0ee;
@color-fe-zgruntu: #67493d;
@color-be-zgruntu: #fef8e8;
