&--fer {
	.color-background-fer;

	.page__title {
		.color-text-fer;
	}

	.page__description {
		.color-text-fer;
	}

	.case-study {
		&__ceo {
			.color-text-fer;
		}

		.slide-wrapper {
			&--case-study-2 {
				.slide {
					&__note {
						.color-text-fer;
					}
				}
			}

			&--case-study-3 {
				.slide {
					&__note {
						color: white;
					}
				}
			}
		}

		&__about {
			&__title {
				.color-text-fer;
			}

			&__description {
				.color-text-fer;
			}

			&__link {
				.column {
					.color-text-fer;

					a {
						.color-text-fer;
					}
				}
			}

			&__points {
				.item {
					.title {
						.color-text-fer;
					}

					.description {
						.color-text-fer;
					}
				}
			}
			&__period {
				.color-text-fer;
				border-top-color: @color-fe-fer;
			}			
		}

		&__parallax {
			background-color: @color-fe-fer;
		}
	}

	.column {
		&--eyren-1-left {
			width: 67.5%;
		}

		&--eyren-1-right {
			width: 32.5%;
		}
	}
	@media screen and (max-width: 750px) {
		.case-study {
			.slide__note--behind-top {
				.color-text-fer !important;
			  }
			.slide__note--above-bottom {
				.color-text-fer !important;
			}
		}
	}
}
