&--poldi {
	.color-background-poldi;

	.page__title {
		.color-text-poldi;
	}

	.page__description {
		.color-text-poldi;
	}

	.case-study {
		&__ceo {
			.color-text-poldi;
		}

		.slide-wrapper {
			&--case-study-2 {
				.slide {
					&__note {
						.color-text-poldi;
					}
				}
			}

			&--case-study-3 {
				.slide {
					&__note {
						color: white;
					}
				}
			}
		}

		&__about {
			&__title {
				.color-text-poldi;
			}

			&__description {
				.color-text-poldi;
			}

			&__link {
				.column {
					.color-text-poldi;

					a {
						.color-text-poldi;
					}
				}
			}

			&__points {
				.item {
					.title {
						.color-text-poldi;
					}

					.description {
						.color-text-poldi;
					}
				}
			}
			&__period {
				.color-text-poldi;
				border-top-color: @color-fe-poldi;
			}		
			&__logo {
				&--old {
					width: 7rem !important;
				}
			}		
		}

		&__parallax {
			background-color: @color-fe-poldi;
		}
	}

	.column {
		&--poldi-1-left {
			width: 61.2%;
		}

		&--poldi-1-right {
			width: 38.8%;
		}
	}
	@media screen and (max-width: 750px) {
		.case-study {
			.slide__note--behind-top {
				.color-text-poldi !important;
			  }
			.slide__note--above-bottom {
				.color-text-poldi !important;
			}
		}
	}
}
