/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.color-text-1 {
  color: #0b3c42;
}
.color-background-1 {
  background-color: #e9efef;
}
.color-text-arcadehry {
  color: #ffffff;
}
.color-background-arcadehry {
  background-color: #140a3f;
}
.color-text-destro {
  color: #35302d;
}
.color-background-destro {
  background-color: #fdca00;
}
.color-text-drevosrot {
  color: #2a2111;
}
.color-background-drevosrot {
  background-color: #f5ede4;
}
.color-text-eyren {
  color: #fff5eb;
}
.color-background-eyren {
  background-color: #5e2d30;
}
.color-text-fer {
  color: #61697e;
}
.color-background-fer {
  background-color: #ffffff;
}
.color-text-haven {
  color: #381d44;
}
.color-background-haven {
  background-color: #f2eee0;
}
.color-text-kkzpp {
  color: #b19869;
}
.color-background-kkzpp {
  background-color: #0f3520;
}
.color-text-partner {
  color: #ffffff;
}
.color-background-partner {
  background-color: #3a2d27;
}
.color-text-pht {
  color: #fffaf0;
}
.color-background-pht {
  background-color: #ff8a2a;
}
.color-text-poldi {
  color: #ffffff;
}
.color-background-poldi {
  background-color: #134b8a;
}
.color-text-stablo {
  color: #f74a69;
}
.color-background-stablo {
  background-color: #215884;
}
.color-text-tack {
  color: #f20132;
}
.color-background-tack {
  background-color: #ecebe9;
}
.color-text-tachtech {
  color: #000000;
}
.color-background-tachtech {
  background-color: #f1f0ee;
}
.color-text-zgruntu {
  color: #67493d;
}
.color-background-zgruntu {
  background-color: #fef8e8;
}
@font-face {
  font-family: "Rational TW Display Medium";
  src: url("../fonts/RationalTWDisplay-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Rational TW Display Light";
  src: url("../fonts/RationalTWDisplay-Light.otf") format("opentype");
}
@font-face {
  font-family: "Rational TW Display SemiBold";
  src: url("../fonts/RationalTWDisplay-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Rational TW Display Thin";
  src: url("../fonts/RationalTWDisplay-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Rational TW Display ExtraBold";
  src: url("../fonts/RationalTWDisplay-ExtraBold.otf") format("opentype");
}
.font-weight-medium {
  font-family: 'Rational TW Display Medium', "Sans Serif";
}
.font-weight-light {
  font-family: 'Rational TW Display Light', "Sans Serif";
}
.font-weight-semibold {
  font-family: 'Rational TW Display SemiBold', "Sans Serif";
}
.font-weight-thin {
  font-family: 'Rational TW Display Thin', "Sans Serif";
}
.font-weight-extrabold {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
}
.font--weight-medium {
  font-family: 'Rational TW Display Medium', "Sans Serif";
}
.font--weight-light {
  font-family: 'Rational TW Display Light', "Sans Serif";
}
.font--weight-semibold {
  font-family: 'Rational TW Display SemiBold', "Sans Serif";
}
.font--weight-thin {
  font-family: 'Rational TW Display Thin', "Sans Serif";
}
.font--weight-extrabold {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
}
.font--size-0 {
  font-size: 0;
}
.font--size-1 {
  font-size: 1rem;
}
.font--size-2 {
  font-size: 2rem;
}
.font--size-3 {
  font-size: 3rem;
}
.font--size-4 {
  font-size: 4rem;
}
.font--size-5 {
  font-size: 5rem;
}
.arrow-down {
  background: url(../gfx/arrow-down.png) no-repeat;
  display: inline-block;
  background-size: contain;
  height: 0.4375rem;
  width: 0.8125rem;
  padding-bottom: 0.0625rem;
  cursor: pointer;
}
.arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.icon-pdf {
  content: '';
  background: url(../gfx/icon-pdf.png) no-repeat;
  background-size: 100%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  top: 0.15vw;
  margin-right: 0.3125vw;
}
.icon-download {
  content: '';
  background: url(../gfx/download/download-icon-black.png) no-repeat;
  background-size: 100%;
  width: 1.8125rem;
  height: 2.0625rem;
  display: inline-block;
  position: relative;
  top: 0.1rem;
}
html {
  font-size: 16px;
}
body {
  background-color: #e9efef;
  padding-bottom: 10rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Rational TW Display Medium', "Sans Serif";
  color: #0b3c42;
}
a,
a:hover {
  text-decoration: none;
}
.no-space {
  font-size: 0;
}
.indent {
  padding-left: 3.5vw;
}
.both_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover--underline {
  text-decoration: none;
}
.hover--underline:hover {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.antispam {
  display: none;
}
.image--scalable {
  overflow: hidden;
  max-height: 100%;
}
.image--scalable img {
  -webkit-animation: image_scale_animation 5s;
  animation: image_scale_animation 5s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
@-webkit-keyframes image_scale_animation {
  100% {
    -webkit-transform: scale(1.07);
  }
}
@keyframes image_scale_animation {
  100% {
    transform: scale(1.07);
  }
}
.puzzle-indent--left {
  padding-left: 0.3125vw;
}
.puzzle-indent--right {
  padding-right: 0.3125vw;
}
.puzzle-indent--top {
  padding-top: 0.3125vw;
}
.puzzle-indent--bottom {
  padding-bottom: 0.3125vw;
}
.puzzle-indent--left-dbl {
  padding-left: 0.625vw;
}
.puzzle-indent--right-dbl {
  padding-right: 0.625vw;
}
.puzzle-indent--top-dbl {
  padding-top: 0.625vw;
}
.puzzle-indent--bottom-dbl {
  padding-bottom: 0.625vw;
}
.container {
  box-sizing: border-box;
  width: calc(100% - 10.6rem);
}
.container--shorter {
  width: 80%;
}
.container--small {
  width: 70%;
}
.column-wrapper {
  font-size: 0;
}
.column-wrapper .column {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  box-sizing: border-box;
}
.column-wrapper .column--left {
  width: 54.8%;
}
.column-wrapper .column--right {
  width: 45.2%;
}
.header {
  min-height: 10rem;
  position: relative;
}
.header__main-logo {
  display: inline-block;
  position: fixed;
  left: 2.6vw;
  top: 4rem;
  width: 18.25rem;
  height: 5.75rem;
  z-index: 99;
}
.navbar {
  position: fixed;
  right: 3.6vw;
  top: 0.6875rem;
  z-index: 10002;
  cursor: pointer;
}
.navbar__menu-text {
  font-family: 'Rational TW Display Light', "Sans Serif";
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.5rem;
  line-height: 4.375rem;
  transition: 0.5s;
}
.navbar__menu-button {
  display: inline-block;
  vertical-align: middle;
}
.navbar__menu-button svg {
  width: 1.25rem;
  height: 1.25rem;
}
.navbar__menu-button #bar1,
.navbar__menu-button #bar2,
.navbar__menu-button #bar3 {
  transition: 0.5s;
}
.navbar--white .navbar__menu-text {
  color: white;
}
.navbar--white .navbar__menu-button #bar1,
.navbar--white .navbar__menu-button #bar2,
.navbar--white .navbar__menu-button #bar3 {
  fill: white;
}
.navbar--opened .navbar__menu-text {
  color: #0b3c42;
}
.navbar--opened .navbar__menu-button #bar1 {
  fill: #0c3d43;
  transform: rotate(-45deg);
  transform-origin: 100px 10px;
}
.navbar--opened .navbar__menu-button #bar2 {
  fill: #0c3d43;
  opacity: 0;
}
.navbar--opened .navbar__menu-button #bar3 {
  fill: #0c3d43;
  transform: rotate(45deg);
  transform-origin: 100px 96px;
}
.primary-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  padding-right: 3.5vw;
  padding-top: 14vh;
  display: none;
  background-color: #e9efef;
}
.primary-menu__main-logo {
  display: inline-block;
  position: fixed;
  left: 2.6vw;
  top: 4rem;
  width: 18.25rem;
  height: 5.75rem;
}
.primary-menu__items {
  text-align: right;
}
.primary-menu__items > li {
  padding-bottom: 1.3rem;
}
.primary-menu__items > li > a {
  text-decoration: none;
  font-family: 'Rational TW Display SemiBold', "Sans Serif";
  font-size: 2.5rem;
  color: #0b3c42;
}
.primary-menu__items > li > a:hover {
  text-decoration: underline;
}
.primary-menu__items > li.item--locale {
  padding-top: 2rem;
}
.primary-menu__items > li.item--locale > a {
  font-family: 'Rational TW Display Light', "Sans Serif";
}
.primary-menu__items > li.item--social {
  padding-top: 1.05rem;
  padding-right: 0.3rem;
}
.primary-menu__items > li.item--social > a > img {
  padding-left: 0.1875rem;
  padding-right: 0.0625rem;
}
.primary-menu__items > li.item--social > a.facebook img {
  width: 1.25rem;
  height: 1.25rem;
}
.primary-menu__items > li.item--social > a.instagram img {
  width: 1.125rem;
  height: 1.125rem;
}
.primary-menu__items > li.item--social .facebook {
  position: relative;
  top: 1px;
}
.footer__lead {
  background-color: white;
  text-align: right;
  padding-top: 3.75rem;
  padding-right: 3.59375vw;
  padding-bottom: 8rem;
}
.footer__lead .btn {
  margin-bottom: 1rem;
}
.footer__lead-note {
  padding-right: 2.375rem;
  color: #56797d;
  line-height: 1.25;
}
.footer__sign {
  position: relative;
  top: -4rem;
}
.footer__sign-info > span,
.footer__sign-info > span a {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
}
.footer__sign-motto {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.btn {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.125rem;
  border: 0.1875rem solid black;
  padding: 0.5rem 4rem;
  display: inline-block;
  color: black;
  position: relative;
}
button.btn {
  background-color: transparent;
  cursor: pointer;
}
.btn .blue {
  color: #0b3c42 !important;
  border: 1.125rem solid #0b3c42 !important;
  margin-left: 0px !important;
}
.btn::after {
  content: " ";
  position: absolute;
  left: -0.1875rem;
  right: -0.1875rem;
  bottom: -0.375rem;
  height: 0.1875rem;
  background-color: #dddddd;
  transition: all 0.5s;
}
.btn span {
  color: black;
}
.btn span::after {
  content: '❭';
  transition: all 0.5s;
  opacity: 0;
  position: relative;
  left: 0;
  top: -0.15em;
  font-size: 0.75em;
}
.btn:hover::after {
  background-color: #afafaf;
}
.btn:hover span::after {
  opacity: 1;
  left: 0.5rem;
}
.btn--bigger {
  padding: 0.8rem 6.66666667vw;
}
.btn--white {
  border: 0.1875rem solid white;
}
.btn--white span {
  color: white;
}
.btn--blue {
  border-color: #0b3c42;
  margin-right: 0px !important;
  color: #0b3c42;
}
.btn--blue span {
  color: #0b3c42;
}
.btn--color-text-1 {
  border: 0.1875rem solid #0b3c42;
}
.btn--color-text-1 span {
  color: #0b3c42;
}
.btn--color-text-2 {
  border: 0.1875rem solid #2a2a2a;
}
.btn--color-text-2 span {
  color: #2a2a2a;
}
.btn--color-text-2::after {
  background-color: #afafaf;
}
.btn--color-text-2:hover::after {
  background-color: #838383;
}
.cookie-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5625rem;
  line-height: 1.5625rem;
  z-index: 999;
  background-color: #0b3b41;
}
.cookie-bar--disabled {
  display: none;
}
.cookie-bar__note {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 0.75rem;
  color: #e9efef;
  display: inline-block;
}
.cookie-bar__btn-more-info {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 0.75rem;
  color: #e9efef;
  text-decoration: underline;
}
.cookie-bar__btn-ok {
  font-size: 0.75rem;
  color: #e9efef;
  text-decoration: underline;
}
.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 43.33333333vw;
  position: relative;
}
.slide--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-prepend {
  margin-bottom: 0.6rem;
}
.slide__logo-wrapper--full {
  height: 100%;
}
.slide__logo-wrapper--full img {
  width: 100%;
  height: 100%;
}
.slide__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  bottom: 2.5rem;
  left: auto;
  right: 3.125rem;
  width: 24rem;
  height: 8.875rem;
}
.slide__button-wrapper--animated {
  z-index: 1;
}
@media screen and (min-width: 1160px) {
  .slide__button-wrapper--animated:hover::after {
    height: 100%;
  }
}
.slide__button-wrapper--animated::after {
  background-color: #b2b0b0;
  height: 0px;
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  z-index: 1;
  transition: height 0.2s;
}
.slide__button-wrapper .btn {
  position: relative;
  z-index: 2;
}
.slide__note {
  position: absolute;
}
.slide__note--above-slide {
  left: 0;
  top: -1rem;
  font-size: 1rem;
}
.slide__note--behind-top {
  left: 0;
  top: 1rem;
  font-size: 1rem;
}
.slide__note--above-bottom {
  bottom: 2%;
  left: 0;
  font-size: 1rem;
}
.slide-wrapper--content-form {
  margin-top: 5rem;
}
.slide-wrapper--content-form .slide {
  height: 31.25vw;
  background-color: #cbcbcb;
}
.slide-wrapper--content-form .slide__logo-wrapper img {
  width: 27.5625rem;
}
.slide-wrapper--content-form .slide__button-wrapper {
  top: auto;
  bottom: 5%;
  background-color: #c1c1c1;
}
.slide-wrapper--content-form .slide__button-wrapper .btn::after {
  background-color: #B3B1A5;
}
.slide-wrapper--content-form .slide__button-wrapper .btn:hover::after {
  background-color: #918e7f;
}
.slide-wrapper--kkzpp {
  margin-top: 7.6rem;
}
.slide-wrapper--kkzpp .slide {
  height: 44.27083333vw;
  background-image: url("../gfx/default/kkzpp_bg00.png");
}
.slide-wrapper--kkzpp .slide__logo-wrapper img {
  width: 11.25rem;
}
.slide-wrapper--kkzpp .slide__button-wrapper {
  background-color: rgba(12, 47, 29, 0.67);
  bottom: 1.75rem;
}
.slide-wrapper--kkzpp .slide__button-wrapper::after {
  background-color: rgba(12, 47, 29, 0.87);
}
.slide-wrapper--kkzpp .slide__button-wrapper .btn::after {
  background-color: rgba(2, 18, 10, 0.15);
}
.slide-wrapper--kkzpp .slide__button-wrapper .btn:hover::after {
  background-color: rgba(2, 18, 10, 0.9);
}
.slide-wrapper--destro {
  margin-top: 7.8rem;
}
.slide-wrapper--destro .slide {
  height: 31.25vw;
  background-image: url("../gfx/default/destro_bg01.jpg");
}
.slide-wrapper--destro .slide__logo-wrapper img {
  width: 17.75rem;
}
.slide-wrapper--destro .slide__button-wrapper {
  background-color: rgba(253, 202, 1, 0.65);
  bottom: 1.75rem;
}
.slide-wrapper--destro .slide__button-wrapper::after {
  background-color: rgba(241, 192, 1, 0.55);
}
.slide-wrapper--destro .slide__button-wrapper .btn::after {
  background-color: rgba(170, 136, 0, 0.2);
}
.slide-wrapper--destro .slide__button-wrapper .btn:hover::after {
  background-color: rgba(170, 136, 0, 0.5);
}
.slide-wrapper--tack {
  margin-top: 7.8rem;
}
.slide-wrapper--tack .slide {
  background-image: url("../gfx/default/tack.jpg");
  height: 44.27083333vw;
}
.slide-wrapper--tack .slide .slide__button-wrapper {
  background-color: rgba(176, 2, 40, 0.35);
  bottom: 1.75rem;
}
.slide-wrapper--tack .slide .slide__button-wrapper::after {
  background-color: rgba(176, 2, 40, 0.5);
}
.slide-wrapper--tack .slide .slide__button-wrapper .btn::after {
  background-color: rgba(124, 0, 27, 0.35);
}
.slide-wrapper--tack .slide .slide__button-wrapper .btn:hover::after {
  background-color: rgba(124, 0, 27, 0.85);
}
.slide-wrapper--tack .slide__button-wrapper {
  background-color: rgba(211, 2, 45, 0.25);
  bottom: 1.75rem;
}
.slide-wrapper--tack .slide__button-wrapper::after {
  background-color: rgba(211, 2, 45, 0.75);
}
.slide-wrapper--tack .slide__button-wrapper .btn::after {
  background-color: rgba(211, 2, 45, 0.25);
}
.slide-wrapper--tack .slide__button-wrapper .btn:hover::after {
  background-color: rgba(211, 2, 45, 0.55);
}
.page .header {
  min-height: 20rem;
}
.page .page__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 2.5rem;
}
.page .page__description {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1.625rem;
  line-height: 1.2;
}
.page--homepage .page__title {
  font-size: 3.75rem;
  color: #0b3c42;
  padding-top: 0.8rem;
  padding-bottom: 1.2rem;
}
.page--homepage .page__description {
  color: #0c3d43;
  padding-bottom: 1rem;
}
.page--homepage .footer .our-work-wrapper {
  position: relative;
}
.page--homepage .footer .our-work-wrapper .our-work {
  padding-top: 2.9rem;
}
.page--homepage .footer .our-work-wrapper .our-work__link {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1.625rem;
  text-decoration: underline;
}
.page--our-work .header {
  min-height: 18.45rem;
}
.page--our-work .page__title {
  padding-top: 2.55rem;
  padding-bottom: 4.5rem;
}
.page--our-work .our-work__item {
  position: relative;
}
.page--our-work .our-work__item-logo {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.page--our-work .our-work__item-hover {
  font-size: 1.65rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: white;
  font-size: 0;
  transition: height 0.2s linear;
}
.page--our-work .our-work__item-hover > p {
  opacity: 0;
  transition: opacity 0.2s linear;
  transition-delay: 0.15s;
}
@media screen and (min-width: 1160px) {
  .page--our-work .our-work__item__content:hover {
    position: relative;
  }
  .page--our-work .our-work__item__content:hover .our-work__item-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .page--our-work .our-work__item__content:hover .our-work__item-hover > p {
    font-family: 'Rational TW Display Light', "Sans Serif";
    font-size: 1.65rem;
    line-height: 1.25;
    color: #0b3c42;
    text-decoration: underline;
    text-align: center;
    opacity: 1;
  }
}
.page--case-study {
  padding-bottom: 0;
}
.page--case-study .page__title {
  padding-top: 1rem;
  padding-bottom: 0.85rem;
}
.page--case-study .page__description {
  padding-bottom: 1rem;
}
.page--case-study .case-study__ceo {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 8.1rem;
}
.page--case-study .case-study .column img {
  width: 100%;
  max-width: 100%;
}
.page--case-study .case-study .slide-wrapper--case-study-1 {
  margin-top: 2.75rem;
}
.page--case-study .case-study .slide-wrapper--case-study-1 .slide {
  height: 44.27083333vw;
}
.page--case-study .case-study .slide-wrapper--case-study-1 .slide__note {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1.625rem;
  color: white;
}
.page--case-study .case-study .slide-wrapper--case-study-1 .slide__note--above-bottom {
  left: -1rem;
}
.page--case-study .case-study .slide-wrapper--case-study-2 .slide {
  height: 44.27083333vw;
}
.page--case-study .case-study .slide-wrapper--case-study-2 .slide__note {
  top: -1.5rem;
}
.page--case-study .case-study .slide-wrapper--case-study-2 .slide__button-wrapper {
  justify-content: flex-end;
  height: auto;
  top: auto;
  bottom: 8%;
  left: auto;
  right: 4%;
}
.page--case-study .case-study .slide-wrapper--case-study-2 .slide__button-wrapper .go-to-web {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.page--case-study .case-study .slide-wrapper--case-study-2 .slide__button-wrapper .go-to-web a {
  text-decoration: underline;
  color: white;
}
.page--case-study .case-study .slide-wrapper--case-study-2 .slide__button-wrapper .go-to-web .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
}
.page--case-study .case-study .slide-wrapper--case-study-3 .slide {
  height: 44.27083333vw;
}
.page--case-study .case-study .slide-wrapper--case-study-3 .slide__note--above-slide {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 7.5rem;
  top: -7.5rem;
  color: white;
}
.page--case-study .case-study .slide-wrapper--case-study-3 .slide__note--above-slide .space {
  padding-left: 1rem;
  padding-right: 1rem;
}
.page--case-study .case-study .slide-wrapper--case-study-3 .slide__note--behind-top {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1.625rem;
  color: white;
  top: 1.5rem;
}
.page--case-study .case-study__about__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  padding-top: 2.75rem;
  padding-bottom: 0.5rem;
}
.page--case-study .case-study__about__description {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  padding-right: 5rem;
}
.page--case-study .case-study__about__logo--old {
  width: 10.9375rem !important;
  height: auto;
  padding-top: 2.25rem;
  padding-bottom: 1.75rem;
}
.page--case-study .case-study__about__link .column {
  font-size: 1rem;
}
.page--case-study .case-study__about__link .column--right {
  text-align: center;
}
.page--case-study .case-study__about__link .column a {
  text-decoration: underline;
}
.page--case-study .case-study__about__points .case-study__about__title {
  padding-top: 3.5rem;
  padding-bottom: 0.25rem;
}
.page--case-study .case-study__about__points .item .title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.page--case-study .case-study__about__points .item .description {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1rem;
}
.page--case-study .case-study__about__period {
  width: 30vw;
  margin-top: 6rem;
  padding-top: 0.2rem;
  border-top-style: solid;
  border-top-width: 0.2rem;
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1rem;
}
.page--case-study .case-study__footer {
  font-size: 1rem;
  text-align: right;
  background-color: white;
}
.page--case-study .case-study__footer .footer__cs {
  padding-top: 3.2rem;
  padding-bottom: 4rem;
  padding-right: 4.3125rem;
  line-height: 1.2;
}
.page--case-study .case-study__footer .footer__cs-title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  padding-right: 2.4375rem;
}
.page--case-study .case-study__footer .footer__cs-note {
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
  padding-right: 2.4375rem;
}
.page--case-study .case-study__footer .footer__cs .btn {
  padding: 0.75rem 13rem;
}
.page--case-study .case-study__footer .obsah_forma__cs {
  padding-top: 4.2rem;
  padding-bottom: 4rem;
  height: 10.175rem;
  padding-right: 4.3125rem;
  line-height: 1.2;
  background-color: #cbcbcb;
}
.page--case-study .case-study__footer .obsah_forma__cs-title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  padding-right: 2.4375rem;
  color: #2a2a2a;
}
.page--case-study .case-study__footer .obsah_forma__cs-note {
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
  color: #2a2a2a;
  padding-right: 2.4375rem;
}
.page--case-study .case-study__footer .obsah_forma__cs .btn {
  padding: 0.75rem 13rem;
  color: #2a2a2a;
}
.page--case-study .case-study__footer .obsah_forma__cs .btn .btn {
  border: 4.3125rem solid #ffffff;
}
.page--case-study .case-study__footer .obsah_forma__cs .btn .btn span {
  color: #2a2a2a;
}
.page--case-study .case-study .parallax {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}
.page--case-study .case-study .parallax__website {
  background-size: 100%;
  background-repeat: no-repeat;
}
.page--case-study .case-study .parallax__desktop {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url(../gfx/mac.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% -1.30208333vw;
}
.page--case-study .case-study .parallax__desktop-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2vw;
  right: 0;
}
.page--case-study .case-study .parallax__desktop-bg {
  position: relative;
  max-height: 100%;
  width: 55.83333333vw;
  height: 44.27083333vw;
  margin: auto;
}
.page--case-study .case-study .parallax__desktop-bg .parallax__website {
  position: absolute;
  top: 1.25vw;
  bottom: 12vw;
  left: 3.5vw;
  right: 4vw;
}
.page--case-study .case-study .parallax__phone {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url(../gfx/iphone.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}
.page--case-study .case-study .parallax__phone-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}
.page--case-study .case-study .parallax__phone-bg {
  position: absolute;
  top: auto;
  bottom: 0.65vw;
  left: 13.2%;
  right: auto;
  width: 9.0625vw;
  height: 18.4375vw;
}
.page--case-study .case-study .parallax__phone-bg .parallax__website {
  position: absolute;
  top: 2vw;
  bottom: 2vw;
  left: 0.6vw;
  right: 0.6vw;
}
.page--case-study .cs-loader {
  margin-top: 10rem;
}
.page--case-study .cs-loader-prepend {
  margin-bottom: 0.6rem;
}
.page--case-study .cs-loader__loader {
  position: relative;
  height: 100vh;
}
.page--case-study .cs-loader__wrapper {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.page--case-study .cs-loader__overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.page--case-study .cs-loader__spacer {
  height: 21rem;
  max-height: 55%;
}
.page--case-study .cs-loader__content {
  height: 100%;
  box-sizing: border-box;
}
.page--case-study .cs-loader__case-study {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 2.5rem;
  width: 70%;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  z-index: 2;
}
.page--case-study .cs-loader__progress-bar {
  width: 30%;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  padding-right: 11%;
  position: relative;
  z-index: 2;
}
.page--case-study .cs-loader__progress-bar .percent {
  font-family: 'Rational TW Display SemiBold', "Sans Serif";
  font-size: 2.5rem;
  display: block;
  line-height: 1.2;
}
.page--case-study .cs-loader__progress-bar .percent:after {
  content: ' %';
}
.page--about-us .page__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page--about-us .page__description {
  padding-bottom: 2.5rem;
}
.page--about-us .about-us__items .item {
  padding-top: 1.0rem;
  background-color: white;
  padding-right: 3.0rem;
}
.page--about-us .about-us__items .item__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
}
.page--about-us .about-us__items .item__description {
  line-height: 1.2;
  padding-bottom: 0.75rem;
}
.page--about-us .about-us__items .item img {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.page--about-us .about-us__history .item__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  padding-top: 2.55rem;
  padding-bottom: 0.7rem;
}
.page--about-us .about-us__history .item__description {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1.25rem;
  line-height: 1.2;
  padding-bottom: 1rem;
}
.page--about-us .footer {
  padding-top: 5rem;
}
.page--content-form {
  background-color: #cbcbcb;
}
.page--content-form .header {
  min-height: 17.8rem;
}
.page--content-form .page__title {
  padding-top: 3.5rem;
  padding-bottom: 1.2rem;
}
.page--content-form .page__title img {
  width: 27.5625rem;
}
.page--content-form .page__description {
  color: #5d5d5d;
  padding-bottom: 4.8rem;
}
.page--content-form .content-form {
  padding-bottom: 5.5rem;
}
.page--content-form .content-form__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  color: #5d5d5d;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.page--content-form .content-form__description {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1.25rem;
  color: #5d5d5d;
  line-height: 1.2;
}
.page--content-form .content-form__points {
  margin-left: -1.225vw;
  margin-top: 4.75rem;
  border-left: 2px solid #414141;
  counter-reset: cpoints;
}
.page--content-form .content-form__points .point {
  padding-bottom: 2.75rem;
  position: relative;
  top: -1rem;
  padding-left: 1.225vw;
  color: #414141;
}
.page--content-form .content-form__points .point::before {
  counter-increment: cpoints;
  content: counter(cpoints);
  position: absolute;
  left: calc(-0.65rem - 2px);
  top: 0.25rem;
  border: 2px solid #414141;
  border-radius: 50%;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  line-height: calc(1.3rem - 2px);
  text-align: center;
  font-size: 0.7rem;
  background-color: #cbcbcb;
  box-sizing: border-box;
}
.page--content-form .content-form__points .point__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  padding-bottom: 0.15rem;
  color: #414141;
}
.page--content-form .content-form__points .point__description {
  font-family: 'Rational TW Display Light', "Sans Serif";
  color: #5d5d5d;
  line-height: 1.2;
}
.page--content-form .content-form__points .point__description span {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 0.75rem;
  display: block;
  margin-top: 0.35rem;
  color: #5d5d5d;
}
.page--content-form .content-form__points .point--appendix {
  top: auto;
  padding-bottom: 1.5rem;
}
.page--content-form .content-form__points .point--appendix .point__description {
  font-size: 1.25rem;
}
.page--content-form .content-form__points .point--appendix::before {
  content: ' ';
  left: calc(-0.35rem - 1px);
  top: auto;
  bottom: 0;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #414141;
}
.page--content-form .footer {
  color: #2a2a2a;
}
.page--content-form .footer__lead-note {
  color: #2a2a2a;
}
.page--content-form .footer .btn {
  border: 0.1875rem solid #2a2a2a;
}
.page--content-form .footer .btn span {
  color: #2a2a2a;
}
.page--content-form .footer__sign-info span,
.page--content-form .footer__sign-info span a {
  color: #2a2a2a;
}
.page--content-form .footer__sign-motto {
  color: #2a2a2a;
}
.page--content-form .footer__sign-logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.page--contact .header {
  min-height: 18.5rem;
}
.page--contact .page__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page--contact .page__description {
  padding-bottom: 0.75rem;
}
.page--contact .page__description--small {
  font-size: 1rem;
}
.page--contact .page__description--small a {
  font-family: 'Rational TW Display Light', "Sans Serif";
  text-decoration: underline;
}
.page--contact .contact__panel-1 {
  padding-top: 1.6rem;
}
.page--contact .contact__panel-2 {
  background-color: white;
  text-align: right;
  padding-right: 7rem;
  padding-top: 6rem;
  padding-bottom: 1.75rem;
}
.page--contact .contact__panel-2__summary {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  line-height: 1.2;
}
.page--contact .contact__panel-2__summary a {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
}
.page--contact .contact__panel-2__summary a.em {
  text-decoration: underline;
}
.page--contact .contact__panel-2__note {
  font-size: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  line-height: 1.2;
}
.page--contact .contact__panel-2__flags img {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.page--contact .contact__rules {
  padding-top: 0.5rem;
}
.page--contact .contact__rules a {
  text-decoration: underline;
}
.page--contact .contact__form {
  padding-top: 3.5rem;
}
.page--contact .contact__form .title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  line-height: 1.2;
  padding-left: 1.5rem;
}
.page--contact .contact__form .description {
  font-size: 0.875rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  line-height: 1.2;
}
.page--contact .contact__form form {
  padding-top: 1.75rem;
}
.page--contact .contact__form form .form-group:after {
  content: '';
  display: table;
  clear: both;
}
.page--contact .contact__form form .form-group label {
  font-size: 0.875rem;
  display: block;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.page--contact .contact__form form .form-group input[type=text],
.page--contact .contact__form form .form-group textarea {
  font-size: 1.25rem;
  font-family: 'Rational TW Display Medium', "Sans Serif";
  color: #0b3c42;
  width: 100%;
  border: 0;
  outline: 0;
  margin-left: 0.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
.page--contact .contact__form form .form-group textarea {
  height: 17.5rem;
}
.page--contact .contact__form form .form-group .btn {
  float: right;
  margin-top: 1.85rem;
  margin-right: 3.8rem;
  padding: 0.6rem 12rem;
  background-color: #e9efef;
}
.page--contact #map-canvas {
  height: 31.25vw;
  width: 100%;
}
.page--contact #map-canvas img[src*='map-pointer-white'] {
  max-width: 3.375rem !important;
  height: auto !important;
}
.page--articles .article__date {
  font-family: 'Rational TW Display Light', "Sans Serif";
  font-size: 1rem;
}
.page--articles .article__title {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.625rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}
.page--articles .article__content {
  font-size: 1rem;
}
.page--articles .article__media {
  padding-bottom: 5rem;
}
.page--articles .article__thumbnail {
  height: 20.83333333vw;
  padding-top: 2rem;
  width: 52.5%;
}
.page--articles .article__thumbnail img {
  width: 100%;
  height: 100%;
}
.page--articles .article__video {
  height: 20.83333333vw;
  padding-top: 2rem;
  width: 52.5%;
}
.page--articles .article__video iframe {
  width: 100%;
  height: 100%;
}
.page--lead {
  padding-bottom: 0;
}
.page--lead .header {
  min-height: 21rem;
}
.page--lead .page__description {
  padding-top: 1rem;
}
.page--lead .lead {
  margin-top: 7.5rem;
}
.page--lead .lead span,
.page--lead .lead input[type=text] {
  font-family: 'Rational TW Display Medium', "Sans Serif";
  font-size: 1.625rem;
  color: #003c40;
}
.page--lead .lead-prepend {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}
.page--lead .lead__form {
  min-height: calc(100vh - 300px);
  padding-top: 4.25rem;
  padding-bottom: 10rem;
  background-color: white;
  line-height: 2.2;
}
.page--lead .lead__form input[type=text] {
  width: 41vw;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
}
.page--lead .lead__form .list {
  position: relative;
  padding-right: 2.5rem;
  color: black;
}
.page--lead .lead__form .list:after {
  content: '';
  background: url(../gfx/arrow-switch.png) no-repeat;
  background-size: 100%;
  width: 1.1875rem;
  height: 1.0625rem;
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
}
.page--lead .lead__form .btn {
  border: 0.1875rem solid #0b3c41;
  line-height: 2.2;
  padding: 0 12rem;
}
.page--lead .lead__form .btn span {
  color: #0b3c41;
}
.page--lead .lead__form .btn-wrapper {
  padding-top: 7rem;
}
.page--download .header {
  min-height: 15rem;
}
.page--download .page__description {
  padding-top: 1rem;
}
.page--download .typo-card {
  padding-bottom: 4.1rem;
}
.page--download .typo-card__logo {
  padding: 3.5rem 0 1rem 0;
}
.page--download .btn {
  padding: 0 10.2rem;
  font-size: 0;
}
.page--download .btn span {
  font-family: 'Rational TW Display ExtraBold', "Sans Serif";
  font-size: 1.125rem;
  display: inline-block;
  padding-top: 0.9rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  vertical-align: top;
}
.page--thank-you .page__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page--thank-you .page__description {
  padding-bottom: 2.5rem;
}
.page--cookies .page__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page--cookies .page__description {
  padding-bottom: 2.5rem;
}
.page--error-sending .page__title,
.page--error-403 .page__title,
.page--error-404 .page__title,
.page--error-405 .page__title,
.page--error-410 .page__title,
.page--error-4xx .page__title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.page--error-sending .page__description,
.page--error-403 .page__description,
.page--error-404 .page__description,
.page--error-405 .page__description,
.page--error-410 .page__description,
.page--error-4xx .page__description {
  padding-bottom: 2.5rem;
}
.page--arcadehry {
  background-color: #140a3f;
}
.page--arcadehry .page__title {
  color: #ffffff;
}
.page--arcadehry .page__description {
  color: #ffffff;
}
.page--arcadehry .case-study__ceo {
  color: #ffffff;
}
.page--arcadehry .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #ffffff;
}
.page--arcadehry .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--arcadehry .case-study__about__title {
  color: #ffffff;
}
.page--arcadehry .case-study__about__description {
  color: #ffffff;
}
.page--arcadehry .case-study__about__link .column {
  color: #ffffff;
}
.page--arcadehry .case-study__about__link .column a {
  color: #ffffff;
}
.page--arcadehry .case-study__about__points .item .title {
  color: #ffffff;
}
.page--arcadehry .case-study__about__points .item .description {
  color: #ffffff;
}
.page--arcadehry .case-study__about__period {
  color: #ffffff;
  border-top-color: #ffffff;
}
.page--arcadehry .case-study__parallax {
  background-color: #ffffff;
}
.page--arcadehry .column--arcadehry-1-left {
  width: 61.2%;
}
.page--arcadehry .column--arcadehry-1-right {
  width: 38.8%;
}
.page--destro {
  background-color: #fdca00;
}
.page--destro .page__title {
  color: #35302d;
}
.page--destro .page__description {
  color: #35302d;
}
.page--destro .case-study__ceo {
  color: #35302d;
}
.page--destro .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #35302d;
}
.page--destro .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--destro .case-study__about__title {
  color: #35302d;
}
.page--destro .case-study__about__description {
  color: #35302d;
}
.page--destro .case-study__about__link .column {
  color: #35302d;
}
.page--destro .case-study__about__link .column a {
  color: #35302d;
}
.page--destro .case-study__about__points .item .title {
  color: #35302d;
}
.page--destro .case-study__about__points .item .description {
  color: #35302d;
}
.page--destro .case-study__about__period {
  color: #35302d;
  border-top-color: #35302d;
}
.page--destro .case-study__parallax {
  background-color: #35302d;
}
.page--destro .column--eyren-1-left {
  width: 67.5%;
}
.page--destro .column--eyren-1-right {
  width: 32.5%;
}
.page--drevosrot {
  background-color: #f5ede4;
}
.page--drevosrot .page__title {
  color: #2a2111;
}
.page--drevosrot .page__description {
  color: #2a2111;
}
.page--drevosrot .case-study__ceo {
  color: #2a2111;
}
.page--drevosrot .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #2a2111;
}
.page--drevosrot .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--drevosrot .case-study__about__title {
  color: #2a2111;
}
.page--drevosrot .case-study__about__description {
  color: #2a2111;
}
.page--drevosrot .case-study__about__link .column {
  color: #2a2111;
}
.page--drevosrot .case-study__about__link .column a {
  color: #2a2111;
}
.page--drevosrot .case-study__about__points .item .title {
  color: #2a2111;
}
.page--drevosrot .case-study__about__points .item .description {
  color: #2a2111;
}
.page--drevosrot .case-study__about__period {
  color: #2a2111;
  border-top-color: #2a2111;
}
.page--drevosrot .case-study__parallax {
  background-color: #2a2111;
}
.page--drevosrot .column--drevosrot-1-left {
  width: 61.2%;
}
.page--drevosrot .column--drevosrot-1-right {
  width: 38.8%;
}
.page--eyren {
  background-color: #5e2d30;
}
.page--eyren .page__title {
  color: #fff5eb;
}
.page--eyren .page__description {
  color: #fff5eb;
}
.page--eyren .case-study__ceo {
  color: #fff5eb;
}
.page--eyren .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #fff5eb;
}
.page--eyren .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--eyren .case-study__about__title {
  color: #fff5eb;
}
.page--eyren .case-study__about__description {
  color: #fff5eb;
}
.page--eyren .case-study__about__link .column {
  color: #fff5eb;
}
.page--eyren .case-study__about__link .column a {
  color: #fff5eb;
}
.page--eyren .case-study__about__points .item .title {
  color: #fff5eb;
}
.page--eyren .case-study__about__points .item .description {
  color: #fff5eb;
}
.page--eyren .case-study__about__period {
  color: #fff5eb;
  border-top-color: #fff5eb;
}
.page--eyren .case-study__parallax {
  background-color: #fff5eb;
}
.page--eyren .column--eyren-1-left {
  width: 67.5%;
}
.page--eyren .column--eyren-1-right {
  width: 32.5%;
}
.page--fer {
  background-color: #ffffff;
}
.page--fer .page__title {
  color: #61697e;
}
.page--fer .page__description {
  color: #61697e;
}
.page--fer .case-study__ceo {
  color: #61697e;
}
.page--fer .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #61697e;
}
.page--fer .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--fer .case-study__about__title {
  color: #61697e;
}
.page--fer .case-study__about__description {
  color: #61697e;
}
.page--fer .case-study__about__link .column {
  color: #61697e;
}
.page--fer .case-study__about__link .column a {
  color: #61697e;
}
.page--fer .case-study__about__points .item .title {
  color: #61697e;
}
.page--fer .case-study__about__points .item .description {
  color: #61697e;
}
.page--fer .case-study__about__period {
  color: #61697e;
  border-top-color: #61697e;
}
.page--fer .case-study__parallax {
  background-color: #61697e;
}
.page--fer .column--eyren-1-left {
  width: 67.5%;
}
.page--fer .column--eyren-1-right {
  width: 32.5%;
}
.page--haven {
  background-color: #f2eee0;
}
.page--haven .page__title {
  color: #381d44;
}
.page--haven .page__description {
  color: #381d44;
}
.page--haven .case-study__ceo {
  color: #381d44;
}
.page--haven .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #381d44;
}
.page--haven .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--haven .case-study__about__title {
  color: #381d44;
}
.page--haven .case-study__about__description {
  color: #381d44;
}
.page--haven .case-study__about__link .column {
  color: #381d44;
}
.page--haven .case-study__about__link .column a {
  color: #381d44;
}
.page--haven .case-study__about__points .item .title {
  color: #381d44;
}
.page--haven .case-study__about__points .item .description {
  color: #381d44;
}
.page--haven .case-study__about__period {
  color: #381d44;
  border-top-color: #381d44;
}
.page--haven .case-study__parallax {
  background-color: #381d44;
}
.page--haven .column--eyren-1-left {
  width: 67.5%;
}
.page--haven .column--eyren-1-right {
  width: 32.5%;
}
.page--kkzpp {
  background-color: #0f3520;
}
.page--kkzpp .page__title {
  color: #b19869;
}
.page--kkzpp .page__description {
  color: #b19869;
}
.page--kkzpp .case-study__ceo {
  color: #b19869;
}
.page--kkzpp .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #b19869;
}
.page--kkzpp .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--kkzpp .case-study__about__title {
  color: #b19869;
}
.page--kkzpp .case-study__about__description {
  color: #b19869;
}
.page--kkzpp .case-study__about__link .column {
  color: #b19869;
}
.page--kkzpp .case-study__about__link .column a {
  color: #b19869;
}
.page--kkzpp .case-study__about__points .item .title {
  color: #b19869;
}
.page--kkzpp .case-study__about__points .item .description {
  color: #b19869;
}
.page--kkzpp .case-study__about__period {
  color: #b19869;
  border-top-color: #b19869;
}
.page--kkzpp .case-study__parallax {
  background-color: #b19869;
}
.page--kkzpp .column--kkzpp-1-left {
  width: 61.2%;
}
.page--kkzpp .column--kkzpp-1-right {
  width: 38.8%;
}
.page--partner {
  background-color: #3a2d27;
}
.page--partner .page__title {
  color: #ffffff;
}
.page--partner .page__description {
  color: #ffffff;
}
.page--partner .case-study__ceo {
  color: #ffffff;
}
.page--partner .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #ffffff;
}
.page--partner .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--partner .case-study__about__title {
  color: #ffffff;
}
.page--partner .case-study__about__description {
  color: #ffffff;
}
.page--partner .case-study__about__link .column {
  color: #ffffff;
}
.page--partner .case-study__about__link .column a {
  color: #ffffff;
}
.page--partner .case-study__about__points .item .title {
  color: #ffffff;
}
.page--partner .case-study__about__points .item .description {
  color: #ffffff;
}
.page--partner .case-study__about__period {
  color: #ffffff;
  border-top-color: #ffffff;
}
.page--partner .case-study__parallax {
  background-color: #ffffff;
}
.page--partner .column--partner-1-left {
  width: 61.2%;
}
.page--partner .column--partner-1-right {
  width: 38.8%;
}
.page--pht {
  background-color: #ff8a2a;
}
.page--pht .page__title {
  color: #fffaf0;
}
.page--pht .page__description {
  color: #fffaf0;
}
.page--pht .case-study__ceo {
  color: #fffaf0;
}
.page--pht .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #fffaf0;
}
.page--pht .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--pht .case-study__about__title {
  color: #fffaf0;
}
.page--pht .case-study__about__description {
  color: #fffaf0;
}
.page--pht .case-study__about__link .column {
  color: #fffaf0;
}
.page--pht .case-study__about__link .column a {
  color: #fffaf0;
}
.page--pht .case-study__about__points .item .title {
  color: #fffaf0;
}
.page--pht .case-study__about__points .item .description {
  color: #fffaf0;
}
.page--pht .case-study__about__period {
  color: #fffaf0;
  border-top-color: #fffaf0;
}
.page--pht .case-study__parallax {
  background-color: #fffaf0;
}
.page--pht .column--pht-1-left {
  width: 61.2%;
}
.page--pht .column--pht-1-right {
  width: 38.8%;
}
.page--pht .column--pht-3-left {
  width: 32.9%;
}
.page--pht .column--pht-3-center {
  width: 33.6%;
}
.page--pht .column--pht-3-right {
  width: 32.9%;
}
.page--poldi {
  background-color: #134b8a;
}
.page--poldi .page__title {
  color: #ffffff;
}
.page--poldi .page__description {
  color: #ffffff;
}
.page--poldi .case-study__ceo {
  color: #ffffff;
}
.page--poldi .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #ffffff;
}
.page--poldi .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--poldi .case-study__about__title {
  color: #ffffff;
}
.page--poldi .case-study__about__description {
  color: #ffffff;
}
.page--poldi .case-study__about__link .column {
  color: #ffffff;
}
.page--poldi .case-study__about__link .column a {
  color: #ffffff;
}
.page--poldi .case-study__about__points .item .title {
  color: #ffffff;
}
.page--poldi .case-study__about__points .item .description {
  color: #ffffff;
}
.page--poldi .case-study__about__period {
  color: #ffffff;
  border-top-color: #ffffff;
}
.page--poldi .case-study__parallax {
  background-color: #ffffff;
}
.page--poldi .column--poldi-1-left {
  width: 61.2%;
}
.page--poldi .column--poldi-1-right {
  width: 38.8%;
}
.page--stablo {
  background-color: #215884;
}
.page--stablo .page__title {
  color: #f74a69;
}
.page--stablo .page__description {
  color: #f74a69;
}
.page--stablo .case-study__ceo {
  color: #f74a69;
}
.page--stablo .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #f74a69;
}
.page--stablo .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--stablo .case-study__about__title {
  color: #f74a69;
}
.page--stablo .case-study__about__description {
  color: #f74a69;
}
.page--stablo .case-study__about__link .column {
  color: #f74a69;
}
.page--stablo .case-study__about__link .column a {
  color: #f74a69;
}
.page--stablo .case-study__about__points .item .title {
  color: #f74a69;
}
.page--stablo .case-study__about__points .item .description {
  color: #f74a69;
}
.page--stablo .case-study__about__period {
  color: #f74a69;
  border-top-color: #f74a69;
}
.page--stablo .case-study__parallax {
  background-color: #f74a69;
}
.page--stablo .column--stablo-1-left {
  width: 61.2%;
}
.page--stablo .column--stablo-1-right {
  width: 38.8%;
}
.page--tachtech {
  background-color: #f1f0ee;
}
.page--tachtech .page__title {
  color: #000000;
}
.page--tachtech .page__description {
  color: #000000;
}
.page--tachtech .case-study__ceo {
  color: #000000;
}
.page--tachtech .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #000000;
}
.page--tachtech .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--tachtech .case-study__about__title {
  color: #000000;
}
.page--tachtech .case-study__about__description {
  color: #000000;
}
.page--tachtech .case-study__about__link .column {
  color: #000000;
}
.page--tachtech .case-study__about__link .column a {
  color: #000000;
}
.page--tachtech .case-study__about__points .item .title {
  color: #000000;
}
.page--tachtech .case-study__about__points .item .description {
  color: #000000;
}
.page--tachtech .case-study__about__period {
  color: #000000;
  border-top-color: #000000;
}
.page--tachtech .case-study__parallax {
  background-color: #000000;
}
.page--tachtech .column--tachtech-1-left {
  width: 61.2%;
}
.page--tachtech .column--tachtech-1-right {
  width: 38.8%;
}
.page--tack {
  background-color: #ecebe9;
}
.page--tack .page__title {
  color: #f20132;
}
.page--tack .page__description {
  color: #f20132;
}
.page--tack .case-study__ceo {
  color: #f20132;
}
.page--tack .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #f20132;
}
.page--tack .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--tack .case-study__about__title {
  color: #f20132;
}
.page--tack .case-study__about__description {
  color: #f20132;
}
.page--tack .case-study__about__link .column {
  color: #f20132;
}
.page--tack .case-study__about__link .column a {
  color: #f20132;
}
.page--tack .case-study__about__points .item .title {
  color: #f20132;
}
.page--tack .case-study__about__points .item .description {
  color: #f20132;
}
.page--tack .case-study__about__period {
  color: #f20132;
  border-top-color: #f20132;
}
.page--tack .case-study__parallax {
  background-color: #f20132;
}
.page--tack .column--tack-1-left {
  width: 61.2%;
}
.page--tack .column--tack-1-right {
  width: 38.8%;
}
.page--zgruntu {
  background-color: #fef8e8;
}
.page--zgruntu .page__title {
  color: #67493d;
}
.page--zgruntu .page__description {
  color: #67493d;
}
.page--zgruntu .case-study__ceo {
  color: #67493d;
}
.page--zgruntu .case-study .slide-wrapper--case-study-2 .slide__note {
  color: #67493d;
}
.page--zgruntu .case-study .slide-wrapper--case-study-3 .slide__note {
  color: white;
}
.page--zgruntu .case-study__about__title {
  color: #67493d;
}
.page--zgruntu .case-study__about__description {
  color: #67493d;
}
.page--zgruntu .case-study__about__link .column {
  color: #67493d;
}
.page--zgruntu .case-study__about__link .column a {
  color: #67493d;
}
.page--zgruntu .case-study__about__points .item .title {
  color: #67493d;
}
.page--zgruntu .case-study__about__points .item .description {
  color: #67493d;
}
.page--zgruntu .case-study__about__period {
  color: #67493d;
  border-top-color: #67493d;
}
.page--zgruntu .case-study__parallax {
  background-color: #67493d;
}
.page--zgruntu .column--zgruntu-1-left {
  width: 61.2%;
}
.page--zgruntu .column--zgruntu-1-right {
  width: 38.8%;
}
@media screen and (max-width: 1160px) {
  .container {
    width: 100%;
  }
  .navbar:not(.navbar--opened) {
    position: absolute;
  }
}
@media screen and (max-width: 750px) {
  .column-wrapper .column--left {
    width: 100%;
  }
  .column-wrapper .column--right {
    width: 100%;
  }
  .puzzle-indent--left {
    padding-left: 0;
  }
  .puzzle-indent--right {
    padding-right: 0;
  }
  .puzzle-indent--left-dbl {
    padding-left: 0;
  }
  .puzzle-indent--right-dbl {
    padding-right: 0;
  }
  .footer__sign {
    top: 5rem;
    padding-bottom: 2rem;
  }
  .footer {
    padding-top: 0 !important;
  }
  .slide__button-wrapper {
    background-color: transparent !important;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
  }
  .indent {
    padding-right: 3.5vw;
  }
  .page--case-study .case-study__about__description {
    padding-right: 0;
  }
  .page--case-study .case-study__about__link .column {
    width: 50%;
  }
  .page--case-study .case-study__about__link .column--right {
    text-align: right;
  }
  .page--homepage .footer__lead,
  .page--content-form .footer__lead,
  .page--about-us .footer__lead,
  .case-study__footer {
    margin-top: 3.5rem;
    padding-right: 0;
    text-align: center;
  }
  .page--our-work .footer__lead {
    padding-right: 0;
    text-align: center;
  }
  .page--case-study .case-study__footer .footer__cs {
    padding-right: 0;
    text-align: center;
  }
  .page--case-study .case-study .slide-wrapper--case-study-3 .slide__note--above-slide {
    top: auto;
    bottom: 1rem;
    font-size: 5rem;
  }
  .page--contact .contact__form form .form-group .btn {
    margin-right: 0;
    float: none;
  }
  .page--contact .contact__form form .form-group {
    text-align: center;
  }
  .page--about-us .footer__sign,
  .page--content-form .footer__sign {
    padding-top: 0;
  }
  .slide--responsive,
  #map-canvas,
  .page--articles .article__video {
    min-height: 30rem;
  }
  .page--articles .article__thumbnail {
    height: auto;
  }
  .page--articles .article__thumbnail,
  .page--articles .article__video {
    width: 100%;
  }
  .page--articles .article__thumbnail img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .page--contact .contact__form form .form-group input[type=text],
  .page--contact .contact__form form .form-group textarea {
    margin-left: 0;
  }
  .footer__lead-note {
    padding-right: 0;
  }
  .page--content-form .content-form__points .point {
    padding-left: 2.5vw;
  }
  .page--case-study .case-study .slide-wrapper--case-study-2 .slide--parallax {
    height: 104.16666667vw;
  }
  .page--case-study .case-study .parallax__phone-bg {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 27.1875vw;
    height: 55.3125vw;
    margin: auto;
    margin-bottom: 1vw;
  }
  .page--case-study .case-study .parallax__phone-bg .parallax__website {
    position: absolute;
    top: 3vw;
    bottom: 4vw;
    left: 1.6vw;
    right: 1.6vw;
  }
}

/*# sourceMappingURL=design-2018.css.map */