#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

includes:
	- php.neon
	- nette.neon
	- extensions.neon
	- parameters.neon
	- parameters.env.php
	- services/app.neon
	- services/dibi.neon
	- services/translation.neon
