.content-slide h1, .content-slide h2, .content-slide h3, .content-slide h4, .content-slide h5, .content-slide h6, .content-slide p, .content-slide a, .content-slide li, .content-slide span {
	color: #5e410d;
}
svg path {
	fill: red;
}
.content-slide .highlight {
	border-color: #5e410d;
}
section.bg-primary {
	background: #5e410d;
}
section.bg-primary-small {
	background: #5e410d;
}
section.bg-secondary-small {
	background: #fdca00;
}
section.bg-primary-small p, section.bg-primary-small a, section.bg-primary-small li, section.bg-primary-small span {
	color: #fdca00;
}
section.bg-secondary-small h1, section.bg-secondary-small h2, section.bg-secondary-small h3, section.bg-secondary-small h4, section.bg-secondary-small h5, section.bg-secondary-small h6, section.bg-secondary-small p, section.bg-secondary-small a, section.bg-secondary-small li, section.bg-secondary-small span {
	color: #5e410d;
}
section.bg-secondary-small span {
	color: #fff;
}

section.bg-primary h1, section.bg-primary h2, section.bg-primary h3, section.bg-primary h4, section.bg-primary h5, section.bg-primary h6, section.bg-primary p, section.bg-primary a, section.bg-primary li, section.bg-primary span {
	color: #fff;
}
.bg-primary .cols-4 span {
	color: #fdca00;
}
.box-present.info-text h2, .box-present.info-text p, .box-present.info-text .big-text {
	color: #fff;
}
.show-logos span {
	color: #5e410d;
}
section.show-website {
	background-color: #fdca00
}
section.show-website a {
	color: #5e410d;
}
.arrow-right:before {
	background: url(../../gfx/destro/arrow-right.png) no-repeat;
	background-size: 100%;
}
div.loader-next-page {
	background: #ee8406;
}
.loader-next-page .content-slide .overlay {
	background: rgba(236, 149, 50, 0.8);
}
.loader-next-page .content-slide h2, .loader-next-page .content-slide .percent {
	color: #61352c;
}
.image-hover span {
	color: #5e410d;
}
.image-hover:before {
	background: #fdca00;
}
